# OpenAI
OPENAI_API_KEY=sua-chave-aqui
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-5-nano

# Google Gemini (opcional)
GOOGLE_API_KEY=sua-chave-aqui
GOOGLE_EMBEDDING_MODEL=models/embedding-001

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rag

# PGVector
PG_VECTOR_COLLECTION_NAME=empresas_collection

# PDF
PDF_PATH=document.pdf
